@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap0&family=Pacifico&family=Arial:wght@100;200;300;400;500;600;700;800;900&display=swap0");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 720px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.page-wrapper {
  margin: 50px 0;
}

.top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-title h2 {
  width: 161px;
  font-weight: 600;
  font-size: 36px;
  color: #0a1629;
  line-height: 36px;
}

.mr-20 {
  margin-right: 20px;
}

.task-container {
  margin-top: 40px;
}

.flex {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
}

.flx-between {
  display: flex;
  gap: 320px;
}

.flx-right {
  display: flex;
  justify-content: flex-end;
}

.mt-50 {
  margin-top: 50px;
}

.cp {
  cursor: pointer;
}

.w-100 {
  width: 170px;
}

#add_task {
  font-weight: 700;
  line-height: normal;
  font-family: Arial;
  border: none;
  padding: 13px 30px;
  box-shadow: 0px 6px 12px 0px rgba(113, 63, 255, 0.25);
}

.button {
  font-family: "Poppins";
  background: #713fff;
  border-radius: 10px;
  padding: 12px 30px;
  outline: none;
  border: 1px solid #7D8592;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.button:disabled {
  background-color: #7d8592;
  cursor: not-allowed;
}
.button.outline {
  background: #ffffff;
  border: 1px solid #d8e0f0;
  box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
  font-weight: 500;
  color: #7d8592;
}
.button .icon {
  margin-right: 12px;
  font-size: 0.6px;
}

.circular-progressbar {
  display: block;
  margin: 0 auto;
}

.circle-background {
  fill: none;
  stroke: #e5e6e9;
}

.circle-progress {
  fill: none;
  stroke: #713fff;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.task-card {
  background: #ffffff;
  box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.11);
  border-radius: 24px;
  padding: 19px 30px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
@media only screen and (max-width: 600px) {
  .task-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 30px 25px;
  }
}

.task-title {
  font-size: 14px;
  font-weight: 400;
  color: #91929e;
  margin-bottom: 8px;
  line-height: 14px;
  margin-top: 1px;
}
@media only screen and (max-width: 600px) {
  .task-title {
    margin-top: 2px;
  }
}

.task {
  min-height: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.2px;
  color: #0a1629;
  overflow-wrap: break-word;
}

.priority-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: #91929e;
  margin-bottom: 7px;
}
@media only screen and (max-width: 600px) {
  .priority-title {
    margin-top: 13px;
  }
}

.priority {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #0ac947;
  text-transform: capitalize;
}

.high-priority {
  color: #f73446;
}

.medium-priority {
  color: #ffbd21;
}

.low-priority {
  color: #0ac947;
}

.task-status-wrapper {
  margin-top: 4px;
  width: 100px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .task-status-wrapper {
    margin-top: 18px;
    text-align: left;
  }
}

.status {
  background: rgba(124, 133, 146, 0.14);
  border-radius: 8px;
  padding: 7px 14px;
  color: #7d8592;
  font-weight: 400;
  font-size: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

.progress {
  margin-right: 57px;
  margin-top: 4px;
}
@media only screen and (max-width: 600px) {
  .progress {
    margin-top: 15px;
  }
}

.actions {
  margin-top: 4px;
  height: 22px;
}
@media only screen and (max-width: 600px) {
  .actions {
    margin-top: 15px;
  }
}

.add-edit-modal .modal-title {
  width: 105px;
  color: #0A1629;
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 31px;
}
@media only screen and (max-width: 600px) {
  .add-edit-modal .modal-title {
    margin-bottom: 41px;
  }
}

.modal-priority {
  margin-top: 20px;
}
.modal-priority span {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #7d8592;
  width: 54px;
  line-height: 22px;
}

.cd {
  position: relative;
  top: 10px;
  height: 15px;
  cursor: pointer;
}

.priority-buttons {
  list-style-type: none;
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .priority-buttons {
    gap: 12px;
  }
}
.priority-buttons li {
  border: 1px solid #ffbd21;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #ffbd21;
  text-transform: capitalize;
  padding: 7px 0;
  width: 90px;
  text-align: center;
  cursor: pointer;
  line-height: 16px;
}
.priority-buttons .high {
  border: 1px solid #f73446;
  color: #f73446;
}
.priority-buttons .high-selected {
  background-color: #f73446;
  color: #ffffff;
}
.priority-buttons .medium {
  border: 1px solid #ffbd21;
  color: #ffbd21;
}
.priority-buttons .medium-selected {
  background-color: #ffbd21;
  color: #ffffff;
}
.priority-buttons .low {
  border: 1px solid #0ac947;
  color: #0ac947;
}
.priority-buttons .low-selected {
  background-color: #0ac947;
  color: #ffffff;
}

.input label {
  font-size: 14px;
  font-weight: 600;
  color: #7d8592;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 22px;
}
.input input {
  font-family: "Poppins";
  width: 100%;
  background: #ffffff;
  border: 1px solid #d8e0f0;
  box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
  border-radius: 14px;
  color: #7d8592;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 18px;
  line-height: 22px;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .input input {
    padding: 14px 12.68px;
  }
}

.delete-modal {
  margin: 0 auto;
  max-width: 300px;
}
.delete-modal p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #0A1629;
}
.delete-modal__actions {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  box-shadow: 0px 6px 58px rgba(121, 145, 173, 0.195504);
  border-radius: 24px;
  padding: 40px 60px;
  margin: 208px auto;
  max-width: 560px;
  min-height: 200px;
}
@media only screen and (max-width: 600px) {
  .modal-content {
    margin: 328px 15px;
    padding: 30px 30px;
  }
}
.modal-content.delete-modal-content {
  margin-top: 290px;
}

/*# sourceMappingURL=style.css.map */
